<section class="custom3">
    <style type="text/css">
    .envato-banner img {
        width: auto\9;
        height: auto;
        max-width: 100%;
    }
    </style>
    <div style="margin-bottom:40px;">
        <a href="http://graphicriver.net/bundles/birthday2013?ref=R_GENESIS" target="_blank">
            <img src="http://placehold.it/209x90&text=ad1">
        </a>
        <a class="envato-banner" href="http://graphicriver.net/bundles/birthday2013?ref=R_GENESIS" target="_blank">
            <img src="http://placehold.it/728x90&text=ad2">
        </a>
    </div>
</section>
<!-- custom3 -->