<style type="text/css">
.tiny-bnrs {
    margin-bottom: 0px;
}
</style>
<div class="row-fluid cust-bnr">
    <div class="span4">
        <img src="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/image/data/rgen/other/banner1-dark.png">
    </div>

    <div class="span4">
        <img src="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/image/data/rgen/other/banner2-dark.png">
    </div>

    <div class="span4">
        <img src="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/image/data/rgen/other/banner3-dark.png">
    </div>
</div>