<div class="box-heading header-1">
    <span>Featured Items</span>
</div>

<div class="caroufredsel_wrapper" style="width: 940px;">
    <ul class="box-product">
        <li class="carousel-item" style="margin-right: 0px;">
            <div class="prd-block2">
                <div class="image">
                    <a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=product/product&amp;product_id=43">
                        <img src="http://placehold.it/194x194" title="MacBook" alt="MacBook">
                    </a>
                </div>
                <div class="info-wrp">
                    <div class="info">
                        <strong class="nameText"><a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=product/product&amp;product_id=43" class="name">MacBook</a>
                        </strong>
                        <div class="rating">
                            <span class="sml-stars stars-0" title="Based on 0 reviews."></span>
                        </div>
                        <div class="price">
                            <span class="price-new">$500.00</span>
                        </div>
                        <div class="buy-option">
                            <a class="addtocart" title="Add to Cart" onclick="addToCart('43');">Add to Cart</a>
                            <span class="otherbtn">
                                <a class="prdbt wish" onclick="addToWishList('43');" title="Add to Wish List">Add to Wish List</a>
                                <a class="prdbt compare" onclick="addToCompare('43');" title="Add to Compare">Add to Compare</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="carousel-item" style="margin-right: 0px;">
            <div class="prd-block2">
                <div class="image">
                    <a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=product/product&amp;product_id=43">
                        <img src="http://placehold.it/194x194" title="MacBook" alt="MacBook">
                    </a>
                </div>
                <div class="info-wrp">
                    <div class="info">
                        <strong class="nameText"><a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=product/product&amp;product_id=43" class="name">MacBook</a>
                        </strong>
                        <div class="rating">
                            <span class="sml-stars stars-0" title="Based on 0 reviews."></span>
                        </div>
                        <div class="price">
                            <span class="price-new">$500.00</span>
                        </div>
                        <div class="buy-option">
                            <a class="addtocart" title="Add to Cart" onclick="addToCart('43');">Add to Cart</a>
                            <span class="otherbtn">
                                <a class="prdbt wish" onclick="addToWishList('43');" title="Add to Wish List">Add to Wish List</a>
                                <a class="prdbt compare" onclick="addToCompare('43');" title="Add to Compare">Add to Compare</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="carousel-item" style="margin-right: 0px;">
            <div class="prd-block2">
                <div class="image">
                    <a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=product/product&amp;product_id=43">
                        <img src="http://placehold.it/194x194" title="MacBook" alt="MacBook">
                    </a>
                </div>
                <div class="info-wrp">
                    <div class="info">
                        <strong class="nameText"><a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=product/product&amp;product_id=43" class="name">MacBook</a>
                        </strong>
                        <div class="rating">
                            <span class="sml-stars stars-0" title="Based on 0 reviews."></span>
                        </div>
                        <div class="price">
                            <span class="price-new">$500.00</span>
                        </div>
                        <div class="buy-option">
                            <a class="addtocart" title="Add to Cart" onclick="addToCart('43');">Add to Cart</a>
                            <span class="otherbtn">
                                <a class="prdbt wish" onclick="addToWishList('43');" title="Add to Wish List">Add to Wish List</a>
                                <a class="prdbt compare" onclick="addToCompare('43');" title="Add to Compare">Add to Compare</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="carousel-item" style="margin-right: 0px;">
            <div class="prd-block2">
                <div class="image">
                    <a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=product/product&amp;product_id=43">
                        <img src="http://placehold.it/194x194" title="MacBook" alt="MacBook">
                    </a>
                </div>
                <div class="info-wrp">
                    <div class="info">
                        <strong class="nameText"><a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=product/product&amp;product_id=43" class="name">MacBook</a>
                        </strong>
                        <div class="rating">
                            <span class="sml-stars stars-0" title="Based on 0 reviews."></span>
                        </div>
                        <div class="price">
                            <span class="price-new">$500.00</span>
                        </div>
                        <div class="buy-option">
                            <a class="addtocart" title="Add to Cart" onclick="addToCart('43');">Add to Cart</a>
                            <span class="otherbtn">
                                <a class="prdbt wish" onclick="addToWishList('43');" title="Add to Wish List">Add to Wish List</a>
                                <a class="prdbt compare" onclick="addToCompare('43');" title="Add to Compare">Add to Compare</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="carousel-item" style="margin-right: 0px;">
            <div class="prd-block2">
                <div class="image">
                    <a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=product/product&amp;product_id=43">
                        <img src="http://placehold.it/194x194" title="MacBook" alt="MacBook">
                    </a>
                </div>
                <div class="info-wrp">
                    <div class="info">
                        <strong class="nameText"><a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=product/product&amp;product_id=43" class="name">MacBook</a>
                        </strong>
                        <div class="rating">
                            <span class="sml-stars stars-0" title="Based on 0 reviews."></span>
                        </div>
                        <div class="price">
                            <span class="price-new">$500.00</span>
                        </div>
                        <div class="buy-option">
                            <a class="addtocart" title="Add to Cart" onclick="addToCart('43');">Add to Cart</a>
                            <span class="otherbtn">
                                <a class="prdbt wish" onclick="addToWishList('43');" title="Add to Wish List">Add to Wish List</a>
                                <a class="prdbt compare" onclick="addToCompare('43');" title="Add to Compare">Add to Compare</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="carousel-item" style="margin-right: 0px;">
            <div class="prd-block2">
                <div class="image">
                    <a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=product/product&amp;product_id=43">
                        <img src="http://placehold.it/194x194" title="MacBook" alt="MacBook">
                    </a>
                </div>
                <div class="info-wrp">
                    <div class="info">
                        <strong class="nameText"><a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=product/product&amp;product_id=43" class="name">MacBook</a>
                        </strong>
                        <div class="rating">
                            <span class="sml-stars stars-0" title="Based on 0 reviews."></span>
                        </div>
                        <div class="price">
                            <span class="price-new">$500.00</span>
                        </div>
                        <div class="buy-option">
                            <a class="addtocart" title="Add to Cart" onclick="addToCart('43');">Add to Cart</a>
                            <span class="otherbtn">
                                <a class="prdbt wish" onclick="addToWishList('43');" title="Add to Wish List">Add to Wish List</a>
                                <a class="prdbt compare" onclick="addToCompare('43');" title="Add to Compare">Add to Compare</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--caroufredsel_wrapper-->
<div class="clearfix hr"></div>