<div id="content">
    <div id="notification"></div>
    <!--CONTENT RIGHT -->

    <!--PAGE CONTENT WRAPPER -->
    <div class="content-body">
        <div class="page-heading-wrp">
            <h1 class="page-heading" id="sec_1">
                <strong>About Us</strong>
            </h1>
            <div class="breadcrumb" style="visibility: visible;">
                <span></span><a href="#">Home</a>
                <span>»</span><a href="#about_us">About Us</a>
            </div>
        </div>

        <section>
            <p>“kantwait.com” offers a new way to connect customers with local businesses as well help these businesses reach new customers. By creating an innovative shuttle service, we provides rides to the merchandizes. Unlike tranditional delivery, “kantwait.com” is istant, local and ontime.</p>
            <p>We save people’s time in their everyday life. You can buy things from local stores without walk or drive to the streets, simply pick up your orders at our shuttle stops, just like catching a bus. For storeowners, we help you reach the crowd.</p>
            <p>KantWait Team</p>
        </section>

    </div>
    <div class="clearfix"></div>

</div>