<div id="content">
    <div id="notification"></div>

    <!--PAGE CONTENT WRAPPER -->
    <div class="content-body contactus">
        <div class="page-heading-wrp">
            <h1 class="page-heading">
                <strong>Contact Us</strong>
            </h1>
            <div class="breadcrumb" style="visibility: visible;">
                <span></span><a href="">Home</a>
                <span>»</span><a href="">Contact Us</a>
            </div>
        </div>

        <form method="post" enctype="multipart/form-data">
            <table>
                <tbody>
                    <tr>
                        <td class="left">
                            <div class="contact-info">
                                <div class="content">

                                    <h2 class="header-3">Email:</h2>
                                    <h3 class="header-4"><a href="mailto:info@kantwait.com">info@kantwait.com</a>
                                    </h3>
                                    <br>
                                    <br>


                                    <h2 class="header-3">Telephone:</h2>
                                    <strong>1-217-402-3212
                                        <br>
                                    </strong>
                                    <br>
                                    <br>
                                    <br>



                                </div>
                            </div>
                        </td>
                        <!--                         <td class="right box-form">
                            <h2 class="header-3">Contact Form</h2>
                            <div class="content">

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label for="name">First Name:</label>
                                                <input type="text" name="name" style="margin-right:20px" value="">
                                            </td>
                                            <td>
                                                <label for="email">E-Mail Address:</label>
                                                <input type="text" name="email" value="">

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <label for="enquiry">Enquiry:</label>
                                <textarea name="enquiry" cols="30" rows="5"></textarea>

                                <label for="captcha">Enter the code in the box below:</label>
                                <input type="text" name="captcha" value="">
                                <img src="index.php?route=information/contact/captcha" class="captchaimg" alt="">
                            </div>
                            <input type="submit" value="Continue" class="button dark-bt">

                        </td> -->
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>

</div>