<div id="content">
    <div id="notification"></div>

    <!--CONTENT LEFT -->
    <div id="column-left" class="column">
        <div class="box category-links">
            <div class="box-heading header-3">FAQ</div>
            <div class="box-content">
                <div class="box-category col-links">
                    <ul>
                        <li class="cat-active">
                            <a href="#sec_1" class="active">Common questions (13)</a>
                            <b class="cc open"></b>
                            <ul class="col-subcat active">
                                <li><a href="#sec_1_1">What is KantWait?</a>
                                </li>
                                <li><a href="#sec_1_2">What is KantWait Standard?</a>
                                </li>
                                <li><a href="#sec_1_3">Where do I pick up my order(s)?</a>
                                </li>
                                <li><a href="#sec_1_4">What is KantWait Premium?</a>
                                </li>
                                <li><a href="#sec_1_5">How much does your service cost and how do I pay?</a>
                                </li>
                                <li><a href="#sec_1_6">Should I tip my driver?</a>
                                </li>
                                <li><a href="#sec_1_7">Can I be a KantWait driver or shopper?</a>
                                </li>
                                <li><a href="#sec_1_8">Can I pay at the KantWait Point?</a>
                                </li>
                                <li><a href="#sec_1_9">How often does the shuttle run?</a>
                                </li>
                                <li><a href="#sec_1_10">What stores do you deliver from?</a>
                                </li>
                                <li><a href="#sec_1_11">Is KantWait available in my area?</a>
                                </li>
                                <li><a href="#sec_1_12">Where are your KantWait Points?</a>
                                </li>
                                <li><a href="#sec_1_13">What are your hours of operation?</a>
                                </li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="#sec_2">INVENTORY & ORDERING (6)</a>
                            <b class="cc"></b>
                            <ul class="col-subcat">
                                <li><a href="#sec_2_1">Are your prices different from the prices in-store?</a>
                                </li>
                                <li><a href="#sec_2_2">Can I cancel, edit, or reschedule my order?</a>
                                </li>
                                <li><a href="#sec_2_3">What about items that go out of stock?</a>
                                </li>
                                <li><a href="#sec_2_4">How do you deal with meat and produce?</a>
                                </li>
                                <li><a href="#sec_2_5">What is a substitution?</a>
                                </li>
                                <li><a href="#sec_2_5">Can I send my shopper a special request?</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#sec_3">RETURNS & REFUNDS (5)</a>
                            <b class="cc"></b>
                            <ul class="col-subcat">
                                <li><a href="#sec_3_1">KantWait’s Return Policy</a>
                                </li>
                                <li><a href="#sec_3_1">How long does the refund process take?</a>
                                </li>
                                <li><a href="#sec_3_2">Can I get my Kredit refunded?</a>
                                </li>
                                <li><a href="#sec_3_3">I missed the shuttle! What do I do?</a>
                                </li>
                                <li><a href="#sec_3_4">How do I report an incorrect order?</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--CONTENT RIGHT -->

    <!--PAGE CONTENT WRAPPER -->
    <div class="content-body">
        <div class="page-heading-wrp">
            <h1 class="page-heading" id="sec_1">
                <strong>Frequently Asked Questions</strong>
            </h1>
            <div class="breadcrumb" style="visibility: visible;">
                <span></span><a href="">Home</a>
                <span>»</span><a href="">FAQ</a>
            </div>
        </div>

        <section class="content">
            <h1 class="page-heading">
                <strong>Common Questions</strong>
            </h1>
            <h2 id="sec_1_1">What is KantWait?</h2>
            KantWait is a grocery delivery service. We connect local grocery stores to you. We provide two different services: KantWait Standard and KantWait Premium.


            <h2 id="sec_1_2">What is KantWait Standard?</h2>
            KantWait Standard delivers along our routes. The route delivery shuttle works like a bus for your groceries; you just meet us on time at any KantWait Point along the route you chose at checkout and we give you your order(s).


            <h2 id="sec_1_3">Where do I pick up my order(s)?</h2>
            When you use KantWait Standard, you can meet our driver at any of the KantWait Points, which you choose at checkout. When you meet us to obtain your order you will NEED two of the following 3 pieces of information: order number, total price and/or user ID.


            <h2 id="sec_1_4">What is KantWait Premium?</h2>
            KantWait Premium delivers your orders to your door.


            <h2 id="sec_1_5">How much does your service cost and how do I pay?</h2>
            KantWait Premium costs more than KantWait Standard because the super-convenient to-your-door delivery doesn’t use the crowd-sourcing that helps reduce our prices. So you pay a little more and get even more convenience. Please check our pricing page. You can pay with your credit card, Paypal, or you can pay with KantWait Kredit to enjoy lots of other benefits.


            <h2 id="sec_1_6">Should I tip my driver?</h2>
            Tips are not required. But our shoppers and drivers appreciate your recognition of their hard work. Drivers and shoppers receive the full amount of your tip.
             
             
            <h2 id="sec_1_7">Can I be a KantWait driver or shopper?</h2>
            <p>Yes. We’re always looking to add more drivers and shoppers. If you like our idea and a smartphone, we’d love to hear from you. Please follow the directions for the job you are applying for on our hiring page!</p>


            <h2 id="sec_1_8">Can I pay at the KantWait Point?</h2>
            You may give tips to the driver at the KantWait Point but you pay for your order online. 


            <h2 id="sec_1_9">How often does the shuttle run?</h2>
            We may have more or less depending on supply and demand. Currently, the grocery shuttle runs once a day.


            <h2 id="sec_1_10">What stores do you deliver from?</h2>
            Our stores are found on the home page of the website. Right now they include: • Far East (Excellent Asian Groceries) and Walmart (All Your Needs At A Low Price). We are always trying to add more. Let us know which stores you’d like to see on this list at <a href="mailto:info@kantwait.com">info@kantwait.com</a>!


            <h2 id="sec_1_11">Is KantWait available in my area?</h2>
            Right now, KantWait operates within the University of Illinois Champaign-Urbana area and will be expanding to meet the area’s needs. We have plans to expand further. If you are not in the Champaign-Urbana area but would like to see this service in your city, let us know at <a href="mailto:info@kantwait.com">info@kantwait.com</a>!


            <h2 id="sec_1_12">Where are your KantWait Points?</h2>
            We have a <a href="https://mapsengine.google.com/map/u/0/edit?mid=z2bS2mHngxgI.k16afC3_wZdM">map</a> of all of our KantWait Points available. Our KantWait Premium service, however, delivers groceries to <a href="/static/image/region.jpg">most areas</a> in Champaign-Urbana.


            <h2 id="sec_1_13">What are your hours of operation?</h2>
            You can order anytime to receive your order in the next 2 days, including the current day. The route you choose at checkout determines when you will get your order. The hours of operation are dependent on the schedules and the businesses themselves and, as such, are expected to change often as we build and solidify our routes.


            <br>
            <br>
            <br>
            <br>

            <h1 class="page-heading" id="sec_2">
                <strong>Inventory & Ordering</strong>
            </h1>
            <h2 id="sec_2_1">Are your prices different from the prices in-store?</h2>
            <p>KantWait prices may vary from the store’s prices. We strive to offer you the low price. For our partner stores, you can usually buy things at the store price or even lower. For non-partner stores, we may have a slight markup, which is used to pay our shopper. However, the price you get is most likely still much lower than any grocery stores' in campus (Check out our price comparison ads). Overall, our prices can be lower, the same, or higher than the store price because it is difficult to keep up with grocery stores’ inventory and price changes. If you notice an item that you believe is priced improperly, please email us at <a href="mailto:info@kantwait.com">info@kantwait.com</a>.</p>


            <h2 id="sec_2_2">Can I cancel, edit, or reschedule my order?</h2>
            <p>We will add this feature soon. If you really want to make a change, please call our customer service or email us. Please see the respective pages under “My Account” in order history. From there, you can make see all your existing and previous orders.</p>


            <h2 id="sec_2_3">What about items that go out of stock?</h2>
            <p>For every item, you will be given the option to choose whether or not our professional shopper may substitute a suitable replacement for the item you have listed. </p>


            <h2 id="sec_2_4">How do you deal with meat and produce?</h2>
            <p>We understand that in most instances, meat and produce are priced by weight and in those cases, we will give you a weight or price range to choose from. Sometimes, we may provide you with three common options, such as a $5-package, $7-package, or $9-package. It is unlikely that we will be able to find a perfect match, but we will always aim for more than you paid for and we won’t charge you the difference unless it’s more than $2. If the price difference is large enough to require an up-charge, we will need you to pay the difference by card when you receive your order.</p>
            

            <h2 id="sec_2_5">What is a substitution?</h2>
            <p>A substitution is a similarly priced or generally similar item (IE: Navel oranges instead of Valencia oranges) that our professional shopper will select to replace an item that you have ordered in the event that the item is out of stock. You have the option to decline item substitution as well, in which case, the item will simply be left out of your order if it is out of stock. The substitutions will be marked on your receipt with an ‘S’. Items that are out of stock and either could be not substituted or you did not want substituted will be marked with an ‘O’ and refunded to your KantWait account.</p>
            
            <h2 id="sec_2_6">Can I send my shopper a special request?</h2>
            <p> Yes, you may leave a note at the checkout. We can't promise that your request can be fulfilled but our shopper will read your note and try his/her best to make you happy. </p>

            
            <br>
            <br>

            <h1 class="page-heading" id="sec_3">
                <strong>Returns & Refunds</strong>
            </h1>
            <h2 id="sec_3_1">KantWait’s Return Policy:</h2>
            <p>KantWait only returns items that have been ordered and delivered through <a href="/">KantWait.com</a>. Any return through KantWait must obey the store of origin’s return policy. All items obtained through other means even from KantWait partner stores cannot be returned through this service. Making a return depends on a few factors and each case must be looked at individually just as it would in-store. Please take a moment to go through our return policies below. We are sorry for any inconvenience you may experience during this process.</p>



            <h3>How do I return a grocery item?</h3>

            <p>For grocery returns, all nonperishable items may be returned to the store of origin according to the store of origin’s return policy which can be found in a list below for your convenience. KantWait can return the item to the store for the customer after he/she has submitted a grocery return form. KantWait will process the return and refund the Kredit spent on the item to the customer’s account if the item is returnable. Please allow 3-5 days for the return to be processed by the KantWait Team. If the item is received in a damaged or defective state, please see the Damaged or Defective Perishable Item Returns sub-heading below. Available Stores’ Return Policies:</p>
            <ul>
                <li>Walmart</li>
            </ul>

            <h3>How long does the refund process take?</h3>
            <p>If there are out-of-stock items and no additional up-charges on your order, we will send your refund in 2-3 business days after you get your groceries. If you purchase with KantWait Kredit, it will be updated to your account immediately; If you purchase with Paypal or credit/debit card, depending on your bank, it make take another 1-5 business days for the refund to appear on your account. </p>


            <h3>How do I report a damaged or defective item?</h3>

            <p>Perishable items are usually non-refundable unless the item is damaged or defective on arrival. In the event that an item – perishable or non-perishable – is damaged or defective, please see the store of origin’s return policy in the list above and contact our customer service at <a href="mailto:info@kantwait.com">info@kantwait.com</a> with the following information: • The order number for the item • A detailed description of the problem with the item. • Whether you want to replace the item or receive a refund. Please allow 2-4 business days to process your claim. If we are able to do so concurrent with the store we will refund your Kredit or deliver a replacement item if requested on the route and at the time of your choosing after the 2-4 business day processing.</p>

            <h2 id="sec_3_2">Can I get my Kredit refunded?</h2>
            <h3>Kredit, Koupons, and Koupon-Codes</h3>

            <p>Kredit is KantWait’s currency. When you load Kredit to your account you can spend that Kredit on items at any KantWait partner store. 1 Kredit = 1 American Dollar. Using the Kredit system helps save us money on transaction fees so we can keep our prices low for you. Kredit is also budgeting tool for our users. You can load your account with Kredit and use it towards any of the stores on our website as your weekly or monthly food/grocery budget. However, Kredit is not just a great budgeting tool – it also has many perks when compared with using a credit card each time:</p>
            <ul>
                <li>Free Money. When you load large amounts like $100 and above you will receive free bonus Kredit just for loading your account!</li>
                <li>Express checkout. Simply click checkout, select your route and confirm.</li>
                <li>Kredit-Exclusive Deals. Kredit users will have access to Kredit-only deals!</li>
                <li>Koupons and Kredit Codes give users free Kredit and are for promotional purposes only. They have no cash value but they can get you some cool free stuff. You can find more information about Kredits, Koupons, and on our pricing page.</li>
            </ul>
            <h3>Kredit Refunds</h3>
            <p>Any Kredit a customer has purchased for use on <a href="/">KantWait.com</a> is non-refundable and cannot be redeemed for cash or returned credit to the customer’s credit or debit card. From the time a customer purchases the Kredit, that Kredit is used to help give everyone a better KantWait experience, which means better deals, more website functions and features, and better service for our valued customers.</p>

            <h3>Koupons & Koupon Code Refunds</h3>
            <p>Any Kredit a customer has gained from a Koupon or Koupon-Code is non-refundable and cannot be redeemed for cash or returned credit to the customer’s credit card or debit card because they have no cash value. Koupons and Koupon-Codes are important for advertising purposes and for giving our awesome customers some free stuff.</p>

            <h2 id="sec_3_3">I missed the shuttle! What do I do?</h2>
            </h3>Missed Grocery Orders</h3>

            <p>We hate it when this happens. We try our best to be at each KantWait Point on time, which means we can't wait for someone who is late or doesn't show up. If you missed the shuttle with your groceries on it, you have a couple of options at your disposal. You can reschedule another delivery for the next day by contacting us at <a href="mailto:info@kantwait.com">info@kantwait.com</a> or you can leave it for a refund; We charge $5 for redelivery of non-perishable items. And we will not hold perishable items for liability reasons. If you leave your groceries for a refund we can only refund the non-perishable items and 15% of the refund plus the shipping fee will go to KantWait as a penalty. When people forget their orders or do not pick them up, it costs KantWait money. For this reason, always keep your phone handy and be at your Point a minute or two early when waiting for a KantWait order. If there is any delay, the driver will notify you in advance.</p>


            <h2 id="sec_3_4">How do I report an incorrect order?</h2>
            <p>Please call or email. We'll correct it for you. Sorry for any inconvenience an incorrect order may cause. </p>
        </section>

    </div>
    <div class="clearfix"></div>

</div>