<div id="content">
    <div id="notification"></div>
    <!--CONTENT RIGHT -->

    <!--PAGE CONTENT WRAPPER -->
    <div class="content-body">
        <div class="page-heading-wrp">
            <h1 class="page-heading" id="sec_1">
                <strong>Pricing</strong>
            </h1>
            <div class="breadcrumb" style="visibility: visible;">
                <span></span><a href="#">Home</a>
                <span>»</span><a href="#pricing">Pricing</a>
            </div>
        </div>

        <section>
            <h1 class="page-heading">
                <strong>To kantwait stop - $2.99</strong>
            </h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 class="page-heading">
                <strong>To Your Door - $5.99</strong>
            </h1>
        </section>

    </div>
    <div class="clearfix"></div>

</div>