<div class="checkout-heading">Step 1: Checkout Options
</div>
<div class="checkout-content" style="display: none;">
    <div class="warning" style="display:none;">Warning: No match for E-Mail Address and/or Password.</div>
    <div class="left">
        <div class="box-form">
            <h2 class="header-3">New Customer</h2>

            <div class="checkout-option" style="margin-top: 2em;">
                <a href="#register" class="button" style="position: static;">Register Account</a>
                <br>
            </div>

            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>

        </div>
    </div>
    <form id="login" class="right">
        <div class="box-form">
            <h2 class="header-3">Returning Customer</h2>
            <p>I am a returning customer</p>
            <label for="email">E-Mail:</label>
            <input type="text" name="email" value="">
            <label for="password">Password:</label>
            <input type="password" name="password" value="">
            <a href="#forget">Forgotten Password</a>
            <input type="submit" value="Login" id="button-login" class="button dark-bt">
        </div>
    </form>
</div>