<td class="name">
    <img src="http://kantwait.com{{image}}" alt="" style="float: left;height: 80px;">
    <a href="" style="margin-left: 10px;">{{name}}</a>

</td>
<td class="substitute">
    <span class="select">
        <select class="select-menu" id="stop_selector">
            <option value="yes">Yes&nbsp;&nbsp;</option>
            <option value="no">No&nbsp;&nbsp;</option>
        </select>
    </span>
</td>
<td class="quantity">{{count}}</td>
<td class="price">${{price}}</td>
<td class="total">${{totalPrice}}</td>