<div id="notification"></div>
<div class="content-body">
    <div class="page-heading-wrp">
        <h1 class="page-heading">
            <strong>Checkout</strong>
        </h1>
        <div class="breadcrumb" style="visibility: visible;">
            <span></span><a href="">Home</a>
            <span>»</span><a href="">Shopping Cart</a>
            <span>»</span><a href="">Checkout</a>
        </div>
    </div>
    <div class="checkout">
        <div id="checkout">
        </div>
        <div id="shipping-address">
        </div>
        <div id="confirm">
        </div>
        <div id="payment-method">
        </div>
    </div>
</div>
<div class="clearfix"></div>