<div id="content">
    <div id="notification"></div>

    <!--CONTENT LEFT -->


    <!--CONTENT RIGHT -->

    <!--PAGE CONTENT WRAPPER -->
    <div class="content-body">
        <div class="page-heading-wrp">
            <h1 class="page-heading">
                <strong>Your Order Has Been Processed!</strong>
            </h1>
            <div class="breadcrumb" style="visibility: visible;">
                <span></span><a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=common/home">Home</a>
                <span>»</span><a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=checkout/cart">Shopping Cart</a>
                <span>»</span><a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=checkout/checkout">Checkout</a>
                <span>»</span><a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=checkout/success">Success</a>
            </div>
        </div>

        <p>Your order has been successfully processed!</p>
        <p>You can view your order history by going to the <a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=account/account">my account</a> page and by clicking on <a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=account/order">history</a>.</p>
        <p>If your purchase has an associated download, you can go to the account <a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=account/download">downloads</a> page to view them.</p>
        <p>Please direct any questions you have to the <a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=information/contact">store owner</a>.</p>
        <p>Thanks for shopping with us online!</p>
        <div class="buttons">
            <div class="right"><a href="http://rgenesis.com/themeforest/RGen-OpenCart-Modern-Store-Design/demo11/index.php?route=common/home" class="button dark-bt">Continue</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>