<div class="checkout-heading">Step 2: Delivery Details<a>Modify »</a>
</div>
<div class="checkout-content">
    <div class="tabs-wrapper review-in">
        <!--DESCRIPTION TABS -->
        <div id="tabs" class="htabs">
            <a href="#tab-toStop" class="selected" style="display: inline;">To a Stop Near Me</a>
            <a href="#tab-toDoor" style="display: inline;">To My Door</a>
        </div>
        <div id="tab-toStop" class="tab-content" style="display: block;">
        </div>
        <div id="tab-toDoor" class="tab-content" style="display: none;">
            <table class="form">
                <tbody>
                    <tr>
                        <td>
                            <span class="required">*</span>First Name:</td>
                        <td>
                            <input type="text" name="firstname" value="Aaron" class="large-field">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="required">*</span>Last Name:</td>
                        <td>
                            <input type="text" name="lastname" value="aron" class="large-field">
                        </td>
                    </tr>
                    <tr>
                        <td>Company:</td>
                        <td>
                            <input type="text" name="company" value="" class="large-field">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="required">*</span>Address 1:</td>
                        <td>
                            <input type="text" name="address_1" value="111 W Ssdf St" class="large-field">
                        </td>
                    </tr>
                    <tr>
                        <td>Address 2:</td>
                        <td>
                            <input type="text" name="address_2" value="" class="large-field">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="required">*</span>City:</td>
                        <td>
                            <input type="text" name="city" value="Chicago" class="large-field">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="required" id="shipping-postcode-required" style="display: none;">*</span>Post Code:</td>
                        <td>
                            <input type="text" name="postcode" value="" class="large-field">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="required">*</span>Country:</td>
                        <td>
                            <select name="country_id" class="large-field">

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="required">*</span>Region / State:</td>
                        <td>
                            <select name="zone_id" class="large-field">

                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="buttons">
        <div class="right">
            <input type="button" value="Continue" id="button-guest-shipping" class="button dark-bt js-continue">
        </div>
    </div>
</div>