<div id="content">
    <div id="notification"></div>
    <div id="column-right" class="column">
        <div class="box account-links">
            <div class="box-heading header-3">Account</div>
            <div class="box-content col-links">
                <ul>
                    <!-- <li><a href="#login">Login</a> / <a href="#register">Register</a> -->
                    </li>
                    <li><a href="#account">My Account</a></li>
                    <li><a href="#forget">Forgotten Password</a></li>
					<li><a href="#refer">Refer</a></li>
                    <li><a href="#orderHistory">Order History</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-body"></div>
    <div class="clearfix"></div>

</div>