<div class="page-heading-wrp">
    <h1 class="page-heading">
        <strong>My Account</strong>
    </h1>
    <div class="breadcrumb" style="visibility: visible;">
        <span></span><a href="#">Home</a>
        <span>»</span><a href="#account">Account</a>
    </div>
</div>
<div class="success" style="display:none;">Success: Your account has been successfully updated.</div>
<div class="box-content1">
    <h2 class="header-3">My Account</h2>
    <ul class="ul-list-1">
        <li><a href="#basicinfo">Edit your account information</a></li>
        <li><a href="#forget">Change your password</a></li>
    </ul>
</div>


<div class="box-content1">
    <h2 class="header-3">My Orders</h2>
    <ul class="ul-list-1">
        <li><a href="#orderHistory">View your order history</a>
        </li>
<!--         <li><a>Your Reward (Koin) Points</a>
        </li>
        <li><a>Your Kredit Points</a></li> -->
    </ul>
</div>
<br>
<br>