<div class="page-refer">
    <div class="detail">
        <h1>Show us some Love</h1>
        <p>Refer us to friend and you will both earn $5 in Kredit when they make their first purchase.</p>
        <div>
            <div class="btn-love">CLICK FOR LINK</div>
            <textarea style="display: none;"></textarea>
        </div>
        <div class="share">
            <div class="fb-share">
                <div class="img"><a href=""><img src="/static/img/fb-share.png" /></a></div>
                <div class="text">Share on Facebook</div>
            </div>
            <div class="twitter-share">
                <div class="img"><a href=""><img src="/static/img/twitter-share.png" /></a></div>
                <div class="text">Share on Twitter</div>
            </div>
            <div class="email-share">
                <div class="img"><a href=""><img src="/static/img/email.png" /></a></div>
                <div class="text">Email it</div>
            </div>
        </div>
    </div>
    <div class="love-pic"></div>
    <div class="clearfix"></div>
</div>