<div class="content-body">
    <div class="page-heading-wrp">
        <h1 class="page-heading">
            <strong>Change Password</strong>
        </h1>
        <div class="breadcrumb" style="visibility: visible;">
            <span></span><a>Home</a>
            <span>»</span><a>Account</a>
            <span>»</span><a>Change Password</a>
        </div>
    </div>
    <form enctype="multipart/form-data">
        <div class="content box-form m0">
            <h2 class="header-3">Your Password</h2>
            <table class="form">
                <tbody>
                    <tr>
                        <td>Password:
                            <span class="required">*</span>
                        </td>
                        <td>
                            <input type="password" name="password" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>Password Confirm:
                            <span class="required">*</span>
                        </td>
                        <td>
                            <input type="password" name="confirm" value="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="buttons">
            <div class="left"><a class="button dark-bt">Back</a>
            </div>
            <div class="right">
                <input type="submit" value="Continue" class="button dark-bt">
            </div>
        </div>
    </form>

</div>