<section class="content-body-wrapper home-wrapper">
    <div id="content" class="store-home beside-bnr-slideshow">
        <div id="notification"></div>
        <!-- notification -->
        <div id="column-left" class="column"></div>
        <div class="content-body col-y">
        </div>
        <!-- content-body -->

        <div class="clearfix">
        </div>
        <!-- clearfix -->
        <!-- custom2 tiny-bnrs -->
        <div class="custom2 tiny-bnrs">
        </div>
    </div>
    <!-- store-home beside-bnr-slideshow -->
</section>