@charset "utf-8";
/* CSS Document */

.visible-desktop { display: inherit !important; }
#container { overflow:inherit; }
.wf-full-slideshow #header-wrapper,
.full-slideshow #header-wrapper { background:none; }
.top-options { width:90%; }
#menu select { width:90%; }
#menu .selectWrp { display:none; }

@media only screen and (max-width: 1025px) {
	#container { overflow:hidden; }
}