/*====================================*/
.mCSB_dragger_bar b,
.lrg-stars,
.sml-stars,
.search-close,
.offer-tag,
.column .special-prd .box-heading,
.product-info .cart,
.product-info .qty .qty-input,
.read-review .wrt-off {
	background-image: url(../../img/rgen/rgen/theme5/sprites.png);
}

/* FONT SETTINGS */
.page-heading strong,
.header-1, 
.header-2, 
.header-3, 
.header-4,
.column .box-heading, 
.checkout-heading, 
.htabs a, 
.product-info .cart .qty strong, 
#footer .contact-info li span,  
#footer .contact-info li a, 
.refine-cate h2 span,
input.button, .button, a.button, a.sml-button, input.sml-button,
.prd-block2 .info-wrp .price-new,
.prd-block1 .price-new,
.prd-block .info-wrp .price-old,
.prd-block .info-wrp .price-new,
.prd-block .info-wrp .price, 
.prd-block1 .price,
.prd-block2 .info-wrp .price,
.product-list .prd-block .info-wrp .price, 
.col-prd .col-price, 
.product-compare, 
.product-info .price, 
.product-info .price-old, 
.product-info .price-new, 
.product-info .price-tax, 
.compare-info .price-old, 
.compare-info .price-new, 
.cart-info tbody .price, 
.cart-info tbody .total, 
.wishlist-info .price, 
.shipping-method .price, 
.checkout-product tbody .price, 
.checkout-product tbody .total, 
.mini-cart-total td, 
.balance, .cart-total table, 
.checkout-product tfoot td, 
.product-list .prd-block .price-new, 
.product-list .prd-block .price-old,
.product-list .prd-block .price-tax,
.col-links > ul > li > a,
.prd-block .nameText a,
.prd-block1 .nameText a,
.prd-block2 a.name,
.col-prd .name,
table.list thead td, 
.compare-info thead td, 
.compare-info thead tr td:first-child, 
.wishlist-info thead td, 
.cart-info thead td,
.order-list .order-id, 
.download-list .download-id, 
.return-list .return-id, 
.cart-options .tabs li label, 
.shipping-method .radio .shipping-name, 
.contactus .left strong, 
.compare-info tr td:first-child, 
.checkout-product thead td, 
.pagination .links a, 
.pagination .links b, 
.wishlist-info tbody .name a, 
.checkout-product tbody .quantity, 
.sitemap-info .first > li > a, 
.brands-a2z a, 
.store-home .slideshow .nivo-controlNav a,
.cart-total .total-amount td strong, 
.cart-total .total-amount td b,
#kw_store_list > ul > li > a.top-lvl,
.cart-info tbody .quantity input[type="text"] {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}

.articleHeader {
	text-align: center;
	}
.articleHeader h1 span,
.header-1 { font-size:20px; }
.checkout-heading,
.box-content1 .header-3,
.box-form .header-3,
.column .box-heading,
.header-2 { font-size:16px; }
.header-3 { font-size:13px; }
.header-4 { font-size:12px; }
.header-1{
	vertical-align: middle;
	text-align: center;
	background: url(../../img/rgen/rgen/theme5/header-strip.png) no-repeat center center;
}
.header-1 span { padding: 0 10px; }
#blogArticle .articleHeader h1, #blogArticle .articleHeader h1 a, #blogCatArticles .articleHeader h3, #blogCatArticles .articleHeader h3 a {
	font-weight: normal;
}
.blogCol2 .articleHeader .header-1,
.blogCol3 .articleHeader .header-1,
.blogCol4 .articleHeader .header-1 {
	background: transparent;
}
.blogCol2 .articleHeader .header-1 span,
.blogCol3 .articleHeader .header-1 span,
.blogCol4 .articleHeader .header-1 span {
	display: block;
	visibility: visible;
}
.custom1 .header-1,
.custom1 .header-1 span { text-align: left; padding-left: 0px; padding-right: 0px; background: none; }
.modprd2 .box-heading, .arrow-tr .box-heading { border-color: transparent; padding-bottom: 0px; }

/* PAGE HEADING */
.page-heading-wrp { margin-bottom: 30px; border-bottom: 7px double; margin-top: -18px; padding-bottom: 20px; }
.page-heading { padding: 0px; margin: 0 0 6px 0; font-size: 25px; background: transparent; }
.page-heading strong { font-weight: normal; }
.breadcrumb { position: relative; bottom: 0px; text-align: center; }
.breadcrumb a + span { margin: 0 5px; }

/* COMMON */
#container,
#header-wrapper {
	background: none;
	box-shadow: none;
}
.content-body-wrapper {
	border-radius: 20px 20px 0 0;
}
#content.beside-bnr-slideshow, 
#content.wf-full-slideshow, 
#content.w-full-slideshow, 
#content.full-slideshow, 
#content.medium-slideshow, 
#content.small-slideshow,
#content {
	padding-top: 70px;
}
.beside-bnr-slideshow .slideshow, 
.small-slideshow .slideshow {
	margin-top: 0px;
}
.slideshow-wrapper .banner .bnr-bx, 
.content-body .banner .bnr-bx {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.content-body .banner { overflow: inherit; }
.content-body .banner-beside .bnr-bx,
.banner-beside .bnr-bx a,
.banner .bnr-bx a { font-size: inherit; }

/* COMMON RADIUS */
.product-info .thumb-wrapper,
.product-info .image-additional,
.image-additional li,
.refine-cate h2,
.prd-block2,
.refine-cate ul li a,
.prd-block,
.category-info .image, 
.img-frame, 
.mini-cart-info .image a, 
.mini-cart-info .image span,
.col-prd .image, 
.product-info .image, 
.product-info .image-additional a,
.product-info .image-additional .active a,
.prd-block1 .image {
	/*border-radius: 6px;*/
}

/* TABLE */
.checkout-heading,
.manufacturer-heading,
.cart-options .tabs ul li.active,
table.list thead td,
.wishlist-info thead td,
.cart-info thead td,
.compare-info thead td {
	background: none;
}

/* CUSTOM CONTENT */
.tp-wrp { background-color: #81d0ac; border-color: #81d0ac; }
.tp-wrp .hdl { background-color: #81d0ac; }
.tp-wrp .header-2, .tp-wrp p { color: #575754; border-color: rgba(255,255,255,0.2); }

.ft-wrp .hdl,
.ft-wrp { background-color: #575754; color: #fff; }
.ft-wrp p { color: #fff; }
.tp-wrp .hdl { right: 0px; margin-right: 0px; }


/* HEADER */
#header { text-align: center; min-height: 80px; }

/* HEADER LINKS */
#header #welcome a,
#header .links a,
#header.logo-in-header #welcome a,
#header.logo-in-header #welcome { color: #b9b9b3; }

#header .links a, #header .links { float: left; text-align: left; }

#header.logo-in-header #welcome a:hover,
#header .links a:hover { color: #f9f7eb; }
#header #welcome,
#header.logo-in-header #welcome {
	left: 0;
	right: auto;
	text-align: center;
	width: 100%;
	border-bottom: 4px double #707070;
	padding-bottom: 4px;
	top: 3px;
}


/* SEARCH BOX */
.top-options { top: 36px; }
#header #search { top: 30px; }

#header .button-search { background: transparent; box-shadow: 0px 0px 0px 5px rgba(229, 229, 218, 0.25); }
#header #search:hover .button-search,
#header .button-search:hover { box-shadow: 0px 0px 0px 5px rgba(129, 208, 172, 1); color: #fff; }
#header #search .search-box { width: 200px; }
#header #search input { width: 158px; margin: 5px 0 0 0px; }
.logo-in-header .top-options { left: 0px; width: 93.6%; }



/* LOGO */
#header .store-logo1 { min-height: 0px; margin: 30px 0 10px 0; }
.store-logo1 #logo { margin: 0px; background: transparent; }

/* LANGUAGE AND CURRENCY */
#currency, #language { text-align: left; box-shadow: none; background: none; }
#header #cart .heading, #currency ul, #language ul { box-shadow: none; background: none; }


/* MENU */
.navigation-bar {
	margin-bottom: -31px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
}
#menu, .navigation-bar { background: transparent; background-color: #81d0ac; }
.navigation-bar:before,
.navigation-bar:after {
	content: "";
	display: block;
	position: absolute;
	border: 1px solid;
	z-index: 999;
	height: 0px;
	/*border: 30px solid #c23a3a;*/
}
.navigation-bar:before{
	top: 0px;
	left: -20px;
	border-top: 30px solid transparent;
	border-left: 0px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 20px solid #81d0ac;
}
.navigation-bar:after{
	bottom: 0px;
	right: -20px;
	border-top: 30px solid transparent;
	border-left: 20px solid #81d0ac;
	border-bottom: 30px solid transparent;
	border-right: 0px solid transparent;
}
#menu {
	text-align: center;
}
.no-logo #kw_store_list > ul {
	padding-left: 0px;
}
#kw_store_list > ul {
	min-height: 36px;
	display: inline-block;
	text-align: left;
	padding: 0px;
	margin-top: 15px;
}
#kw_store_list > ul > li {
	display: inline-block;
	float: none;
	margin-right: -3px;
}
#kw_store_list > ul > li > a.top-lvl {
	font-weight: inherit;
	padding: 6px 15px;
	min-height: inherit;
	color: #4b5e55;
	font-size: 16px;
}
#kw_store_list > ul > li:hover > a.top-lvl {
	background: #575754;
	color: #f8f7eb;
}
#kw_store_list > ul > li .sub-menu {
	background: #575754;
	padding: 8px;
	box-shadow: none;
}
#kw_store_list > ul > li ul li a.sub-lvl {
	border-color: #5f5f5f;
}
#kw_store_list > ul > li ul li a.sub-lvl:hover {
	border-color: #81d0ac;
	background-color: #81d0ac;
}
#kw_store_list > ul > li .sub-menu > ul {
	background-color: #5f5f5f;
}
/* SLIDE SHOWS */
.beside-slideshow {
	background: url(../../img/rgen/rgen/theme5/hr.png) repeat-x left bottom;
	padding-bottom: 40px;
}

/* FORMS */
.select {
	background: url(../../img/rgen/rgen/theme5/SelectMenu.png) no-repeat right bottom #fff;
}

/* COLUMNS */
.column .special-prd .box-heading span { background: none; color: #fff; }
.column .special-prd .col-price { color: #d9814c; }
.col-links > ul > li > a { text-transform: uppercase; }

/* PRODUCT BOXES */
a.cart-bt, .cart-bt,
.prd-block1 a.cart-bt,
.refine-cate h2 { background: transparent; }
.prd-block .info-wrp .price,
.product-list .prd-block .info-wrp .price,
.product-info .price { background: none; }
.product-list .info-wrp .price-new { font-size: 16px; }
.prd-block1 a.cart-bt:hover { box-shadow: none; }
.prd-block .info { background-image: none; }
.prd-block .info-wrp .price { height: 54px; padding: 26px 0 0 0; }

/* PRODUCT INFO */
.product-info .price-tax-y { height: 80px; padding-top: 20px; }
.product-info .qty .qty-input { margin-bottom: 18px; }
.product-info .cart { background: none; height: 242px; }
.product-info .cart .qty { padding: 10px 0 15px 0; }
.product-info .cart > div { height: 210px; }

.product-info .cart > div:before,
.product-info .cart > div:after {
	content: "";
	display: block;
	position: absolute;
	height: 0px;
	bottom: -30px;
}

.product-info .cart > div:after{
	right: 0px;
	border-top: 30px solid #e6e5dd;
	border-left: 60px solid transparent;
	border-bottom: 0px solid transparent;
	border-right: 0px solid transparent;
}
.product-info .cart > div:before{
	left: 0px;
	border-top: 30px solid #e6e5dd;
	border-left: 0px solid transparent;
	border-bottom: 0px solid transparent;
	border-right: 60px solid transparent;
}

/* SLIDE SHOW PRODUCTS */
#slidshow-box.box .box-heading {
	text-align: left;
	background-image: none;
	background-color: #f8f7eb;
}
#slidshow-box.box .box-heading span {
	background-color: transparent;
	padding: 0;
	color: #575754;
}
.store-home #slidshow-box .prev,
.store-home #slidshow-box .next {
	background-color: #81d0ac;
}

/* FOOTER */
#footer .contact-info .ph-image, #footer .contact-info .fax-image, #footer .contact-info .email-image,
.footer-bt a,
.footer-bt { background: transparent; }
.footer-bt a {
	box-shadow: 0px 0px 0px 6px #e6e5dd;
}

/* LINK COLOUR 1 */
.blogSearch .readmore,
.articleContent .readMore span a,
#blogArticle .articleHeader h1 a, 
#blogCatArticles .articleHeader h3 a,
.articleHeader span a,
.product-info .review a,
.product-info .cart .cart-option a,
a, a:visited, a b,
#footer .column a,
.col-links > ul > li > a,
.col-links > ul > li ul > li > a {
	color: #d9814c;
}
.articleContent .readMore span a:hover,
.articleHeader span a:hover,
#blogArticle .articleHeader h1 a:hover, 
#blogCatArticles .articleHeader h3 a:hover,
.product-info .review a:hover,
.product-info .cart .cart-option a:hover,
a:hover,
#footer .column a:hover,
.col-links > ul > li a:hover,
.col-links > ul > li ul > li > a:hover {
	color: #4b5e55;
}


/* COMMON DARK COLOR */
body { background: #5f5f5f; }


#payment-address #payment-new, 
#shipping-address #shipping-new,
.checkout-heading,
.shipping-method .header-2,
.manufacturer-heading,
.box-content1 .header-3,
.box-form .header-3,
.contactus .left .header-3,
.cart-options .tabs,
.cart-options .tabs ul,
.cart-options .tabs ul li,
.prd-block1 ul,
.prd-block .info-wrp ul li a:hover,
.page-heading-wrp,
.footer-bt,
.catelist .header-1,
.catelist ul li a,
.product-info .description,
.product-info .review,
.product-info .options,
.read-review,
.review-comment,
.col-links > ul > li,
.address-list ul li,
.col-prd,
.col-prd .name,
.wishlist-info tbody td,
.wishlist-info td,
.cart-info tbody td,
.cart-info tbody .reward,
.cart-total tr.last td,
.cart-total tr td,
#shipping-method .radio,
.checkout-product tbody td,
.checkout-product tfoot td,
.checkout-product .other-amount.last td,
.checkout-product .total-amount td,
table.list td,
#footer h3,
.manufacturer-list,
.custom-footer .column,
#twitter ul li,
.column .box-heading,
.col-links > ul > li > ul,
.prd-block .info-wrp ul li {
	border-color: rgba(87,87,84, 0.1);
}

a.cart-bt:hover, .cart-bt:hover,
a.cart-bt, .cart-bt,
.next,
.prev, 
.jcarousel-next, 
.jcarousel-prev,
.thumb-wrapper .next,
.thumb-wrapper .prev {
	box-shadow:0px 0px 0px 6px rgba(87,87,84, 0.3);
	color: #f8f7eb;
}

a.home-btn, 
.home-btn,
.prd-block2 .buy-option .prdbt:hover,
.prd-block2 .addtocart:hover,
.prd-block1 a.cart-bt:hover,
.product-info .cart a.cart-bt:hover,
a.cart-bt:hover, .cart-bt:hover,
.next,
.prev, 
.jcarousel-next, 
.jcarousel-prev,
.thumb-wrapper .next,
.thumb-wrapper .prev,
#header #cart .heading,
#currency ul, #language ul,
#currency, #language,
#header .button-search {
	background-color: #575754;
}
.product-filter .display b, .product-filter .display a,
.prd-block2 .buy-option .prdbt,
#footer .contact-info .ph-image, #footer .contact-info .fax-image, #footer .contact-info .email-image,
.footer-bt a,
a.cart-bt, .cart-bt,
.col-links > ul > li > a,
.prd-block1 .nameText a,
.prd-block2 .info-wrp .price-new,
.prd-block2 a.name:hover,
.prd-block2 a.name,
.prd-block1 .price-new,
.prd-block .info-wrp ul li a,
.prd-block a.name,
.prd-block a.name:hover,
.breadcrumb,
.header-1, 
.header-2, 
.header-3, 
.header-4,
.column .box-heading, 
.checkout-heading, 
.htabs a, 
.product-info .cart .qty strong, 
#footer .contact-info li span,  
#footer .contact-info li a, 
.refine-cate h2 span {
	color: #575754;	
}

/* COMMON DARK COLOR 1 */
.product-info .price-old,
.prd-block .info-wrp .price,
.prd-block .info-wrp .price-old,
.prd-block .info-wrp .price-new {
	color: #4b5e55;
}

/* COMMON LIGHT COLOR 1 */
.product-info .price,
.product-list .prd-block .info-wrp .price {
	box-shadow:0px 0px 0px 10px rgba(129,208,172, 0.5);
}
.footer-bt a:hover,
.next:hover,
.prev:hover, 
.jcarousel-next:hover, 
.jcarousel-prev:hover,
.thumb-wrapper .next:hover,
.thumb-wrapper .prev:hover {
	box-shadow:0px 0px 0px 6px rgba(129,208,172, 1);
}
.prd-block2:hover {
	box-shadow: inset 0px 0px 0 5px rgba(129,208,172, 1);
}
.footer-bt a:hover,
.prd-block2 .addtocart,
.refine-cate h2,
.prd-block1 a.cart-bt,
.prd-block .info-wrp .price,
.product-list .prd-block .info-wrp .price,
.product-info .price,
.next:hover,
.prev:hover, 
.jcarousel-next:hover, 
.jcarousel-prev:hover,
.thumb-wrapper .next:hover,
.thumb-wrapper .prev:hover,
#header #search .search-box,
#header #search:hover .button-search,
#header .button-search:hover {
	background-color: #81d0ac;
}
.th-l .image-additional .active a {
	border-color: #81d0ac;
}
.th-l .image-additional .active a {
	color: #81d0ac;	
}

/* COMMON LIGHT COLOR 2 */
.prd-block1 a.cart-bt,
.prd-block .info-wrp .price, 
.prd-block .info-wrp .price-new {
	color: #fff;
}
#footer .contact-info .ph-image, #footer .contact-info .fax-image, #footer .contact-info .email-image,
a.cart-bt, .cart-bt,
.checkout-product thead td,
.checkout-heading,
.shipping-method .radio .shipping-name,
.manufacturer-heading,
.cart-options .tabs ul li.active,
table.list thead td,
.wishlist-info thead td,
.cart-info thead td,
.compare-info thead td,
.footer-bt a,
.select-menu {
	background-color: #fff;
}
#header #cart .heading a,
#header #cart .heading a span,
#currency, #language {
	color: #f8f7eb;
}
.home-btn:hover,
.popup-box,
.page-heading strong,
.footer-wrapper,
.content-body-wrapper,
.header-1 span,
#header #cart .content,
#currency ul li a:hover, 
#language ul li a:hover {
	background-color: #f8f7eb;
}

/* COMMON LIGHT COLOR 3 */
.product-info .cart > div,
.refine-cate h2,
.prd-block .info {
	background-color: #e6e5dd;
}



/* BUTTONS */
input.button, .button, a.button, a.sml-button, input.sml-button {
	background: transparent;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
	font-size: 13px;
	background-color: #81d0ac;
	color: #fff;
}
input.button:hover, .button:hover, .sml-button:hover {
	background-color: #5f5f5f;
}
input.dark-bt, a.dark-bt, #confirm .payment .button {
	background-color: #5f5f5f;
}
input.dark-bt:hover, a.dark-bt:hover, #confirm .payment .button:hover {
	background-color: #81d0ac;
}
a.sml-button, input.sml-button {
	font-size: 11px;
}

a.home-btn { color: #f8f7eb; }
a.home-btn:hover { color: #575754; }


.slideshow { background-color: #81d0ac; }

/* SLIDESHOW - CAPTION */
.cap1 .nivo-caption .cap-hd { background-color: #81d0ac; color: #4b5e55; }
.cap1 .nivo-caption .cap-data { background-color: #f8f7eb; color: #575754; }
.cap1 .nivo-caption .cap-link { background-color: #81d0ac; color: #4b5e55; }

.cap3 .nivo-caption > div { background-color: rgba(87,87,87, 0.9); }
