<div class="heading">
    <a>
        <span id="cart-total">${{subtotalPrice}}</span>
    </a>
</div>
<div class="content">
    <b class="cart-arrow"></b>
    <div class="mini-cart-info">
        <table>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="mini-cart-total">
        <div class="checkout">
            <a class="sml-button dark-bt js-checkout">Checkout</a>
            <br>
            <a class="sml-button js-clear-cart" style="background-color: #EE635D;">Clear Cart</a>
            <br>
            <a class="sml-button cart-close">Close</a>
            <br>
        </div>
        <table>
            <tbody>
                <tr>
                    <td align="right"><b>Sub-Total:</b>
                    </td>
                    <td align="right">${{subtotalPrice}}</td>
                </tr>
<!--                 <tr>
                    <td align="right"><b>Total:</b>
                    </td>
                    <td align="right">${{totalPrice}}</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>