<header id="header" class="logo-in-header">
    <div class="store-logo1">
        <a href="" id="logo">
            <img title="" alt="" src="http://kantwait.com/static/img/kantwait_logo.png" style="width: 200px;">
            <!-- <img title="" alt="" src="/static/img/kantwait_logo.png" style="width: 200px;"> -->
        </a>
    </div>
    <!-- store-logo1 -->
    <div id="welcome">
    </div>
    <!-- welcome -->
    <div id="search">
        <form>
            <div class="button-search"></div>
            <span class="search-box">
                <input type="text" name="search" placeholder="Search" value="">
            </span>
        </form>
    </div>
    <!-- search -->
    <div class="top-options">
        <div class="js-cart"></div>
        <div class="links">
            <a href="#account">My Account</a>
            <a href="#faq">FAQs</a>
            <a href="#orderHistory">Order History</a>
            <a href="#pricing">Pricing</a>
        </div>
    </div>
    <!-- top-options -->
</header>
<!-- logo-in-header -->
<div class="navigation-bar no-logo">
    <nav id="menu">
        <span class="">
            <span class="menu-name">Menu</span>
        </span>
        <a href="#" class="home-btn"></a>
        <div id="kw_store_list"></div>
        <!-- menu-data -->
    </nav>
    <!-- menu -->
</div>
<!-- navigation-bar -->