<footer id="footer">
    <div class="column">
        <h3 class="header-3">Information</h3>
        <ul>
            <li><a href="#privacy">Privacy Policy</a>
            </li>
            <li><a href="#TermofUse">Terms of Use</a>
            </li>
            <li><a href="#faq">Frequently Asked Questions</a>
            </li>
            <li><a href="#pricing">Pricing</a>
            </li>
            <!-- <li><a>Delivery Information(coming soon)</a></li> -->
        </ul>
    </div>
    <div class="column">
        <h3 class="header-3">Customer Service</h3>
        <ul>
            <li><a href="#contact_us">Contact Us</a>
            </li>
            <!-- <li><a>Returns(coming soon)</a></li> -->
        </ul>
    </div>
    <div class="column">
        <h3 class="header-3">Extras</h3>
        <ul>
            <li><a href="#about_us">About Us</a>
            </li>
        </ul>
    </div>
    <div class="column">
        <h3 class="header-3">My Account</h3>
        <ul>
            <li><a href="#account">My Account</a>
            </li>
            <li><a href="#orderHistory">Order History</a>
            </li>
        </ul>
    </div>

    <div class="column contact-info">
        <ul>
            <li>
                <span class="ph-image" title="Phone"></span>
                <span class="ph-text">
                    1-217-402-3212
                </span>
            </li>
            <li>
                <span class="email-image" title="Email us"></span>
                <a href="mailto:info@kantwait.com" class="email-text">Click here<br> to email us</a>
            </li>

        </ul>
    </div>

</footer>
<div class="custom-ft-wrp1">
    <div class="wrapper">
        <div class="custom-ft-content">
            <style type="text/css">
            .ft-linkcontent {
                margin-bottom: 30px;
                margin-top: -30px;
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                padding-top: 30px;
            }
            .ft-linkcontent ul {
                margin:0px;
                padding: 0px;
                list-style-type: none;
            }
            .ft-linkcontent ul li {
                margin:0 0 4px 0;
            }
            </style>
        </div>
    </div>
</div>

<div class="footer-bt">
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <a target="_blank" href="https://www.facebook.com/KantWait.Com.LLC" class="facebook-icon"></a>
                    <a target="_blank" href="https://twitter.com/KantWait4KW" class="twitter-icon"></a>
                    <!-- <a target="_blank" class="pintrest-icon"></a> -->
                    <!-- <a target="_blank" class="linkedin-icon"></a>
                    <a target="_blank" class="vimeo-icon"></a> -->
                    <a class="mailto-icon addthis_button_email at300b" target="_blank" href="mailto:info@kantwait.com" title="Email">
                    </a>
                    </a>
                    <div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;">
                    </div>
                </td>
                <td class="cards">
                    <div>
                        <p style="margin:0px;">
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div class="cp-text" id="powered">
    <br>KantWait LLC © 2014</div>
