<!--PRODUCT BOX -->
<div class="prd-block prd-block3 grid-block">
    <div class="image">
        <a>
            <img src="http://kantwait.com{{image}}" title="iMac">
        </a>
    </div>
    <div class="info-wrp">
        <div class="info">
            <strong class="nameText"><a class="name">iMac</a>
            </strong>
            <div class="description" style="display:none;">Just when you thought iMac had everything, now there´s even more. More powerful Intel Core 2 Duo pro..</div>
            <span class="cart-button"><a class="cart-bt" title="Add to Cart" onclick="addToCart('41');">Add to Cart</a>
            </span>
            <ul>
                <li><a>More info <span>›</span></a>
                </li>
                <li><a onclick="addToWishList('41');">Add to Wish List <span>›</span></a>
                </li>
                <li class="last"><a onclick="addToCompare('41');">Add to Compare <span>›</span></a>
                </li>
            </ul>
        </div>
        <div class="price">
            <span class="price-new">$100.00</span>
            <span class="price-tax">Ex Tax:
                <br>$100.00
            </span>
        </div>
    </div>
</div>