<div id="notification"></div>
<div class="content-body search-page">
    <div class="page-heading-wrp">
        <h1 class="page-heading">
            <strong>Search {{store.name}} - {{query}}</strong>
        </h1>
        <!--         <div class="breadcrumb" style="visibility: visible;">
            <span></span><a>Home</a>
            <span>»</span><a>Search</a>
        </div> -->
    </div>
    <div class="product-filter">
        <form>
            <div class="search-unit">
                <span class="search-box">
                    <input type="text" name="search" placeholder="Search" value="{{query}}">
                </span>
                <div class="button-search"></div>
            </div>
        </form>
        <span class="hr"></span>
    </div>

    <h2 class="header-2">Products meeting the search criteria</h2>
    <br>
    <br>
    <div class="product-grid">
        <div class="clearfix"></div>
    </div>

    <div class="pagination">
        <div class="results">Showing 1 to 1 of 1 (1 Pages)</div>
    </div>

</div>
<div class="clearfix"></div>
<div class="clearfix"></div>