<div class="page-heading-wrp">
    <h1 class="page-heading">
        <strong>{{ store }}</strong>
    </h1>
</div>
<div class="product-filter">
    <form>
        <div class="search-unit">
            <span class="search-box">
                <input type="text" name="search" placeholder="Search" value="">
            </span>
            <div class="button-search"></div>
        </div>
    </form>
    <span class="hr"></span>
</div>
<div class="product-grid show_items">
    <div class="clearfix"></div>
</div>