<div class="page-heading-wrp">
    <h1 class="page-heading">
        <strong>{{ store }}</strong>
    </h1>
</div>
<div class="product-filter">
    <form>
        <div class="search-unit">
            <span class="search-box">
                <input type="text" name="search" placeholder="Search" value="">
            </span>
            <div class="button-search"></div>
        </div>
    </form>
    <span class="hr"></span>
</div>
<a href="/">
    <div id="ads">
        <p>
            <span class="ad-title">Love what</span><br>
            <span class="ad-content">Refer a friend and earn $5 Kredit</span>
        </p>
        <div class="ads-icon"><img src="/static/img/ad.png"/></div>
    </div>
</a>
<div class="show_items"></div>