<div class="box category-links">
    <div class="box-heading header-3">Categories</div>
    <div class="box-content">
        <div class="box-category col-links js-parents">
        </div>
        <div class="box-category col-links js-cates">
        </div>
    </div>
</div>
<!-- <div class="custom2">
    <div style="border-bottom:1px solid rgba(0,0,0, 0.05); padding-bottom:15px;">
        <h3 class="header-3">Custom content</h3>

        <div class="img-frame" style="padding:10px; margin-bottom:10px;">
            <img src="" style="width:100%;">
        </div>

        <p style="margin-bottom:10px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="sml-button" href="">Buy now</a>
    </div>
</div> -->
<!-- <div class="banner bnr-bx-col2" style="position: relative; height: 275px;">
    <div class="bnr-bx" style="display:block;">
        <a href="#stores/1"><img src="http://kantwait.com/static/image/promo/promo_1.png" style="width: 200px;height: 272px;"></a>
    </div>
</div> -->